[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:Metaswitch/python-common.git
[submodule "modules/telephus"]
	path = modules/telephus
	url = git@github.com:Metaswitch/Telephus.git
