.buildout_downloads
.installed.cfg
*~
/bin/
/build-crest/
/build-crest-prov/
/build-homer/
/build-homestead_prov/
_env
bootstrap.py
develop-eggs
eggs
.eggs
.crest-eggs
.homer-eggs
.homestead_prov-eggs
src/*.egg-info
logs
./data
parts
*.pyc
*.pid
*.swp
.coverage
htmlcov/
src/metaswitch/crest/tools/sstable_provisioning/*.class
