asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
constantly==15.1.0
cql==1.4.0
cyclone==1.0
enum34==1.1.6
incremental==17.5.0
ipaddress==1.0.18
lxml==3.6.0
msgpack-python==0.4.7
prctl==1.0.1
pure-sasl==0.4.0
pyOpenSSL==17.0.0
requests==2.20.0
setuptools==24.0.0
six==1.10.0
thrift==0.9.3
Twisted==17.1.0
zope.interface==4.4.1
cryptography==1.9
idna==2.5
urllib3==1.22
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
