Source: crest
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0), cassandra (= 2.1.15), openjdk-7-jdk
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: crest
Architecture: any
Depends: clearwater-infrastructure, clearwater-nginx, libxml2-dev, libxslt1-dev, python-setuptools, python-virtualenv, python2.7-dev, python-zmq, libzmq3-dev, clearwater-log-cleanup, clearwater-monit
Suggests: clearwater-logging, clearwater-snmpd, clearwater-secure-connections
Description: crest, a Cassandra powered generic RESTful HTTP server platform

Package: homer-node
Architecture: any
Depends: homer (= ${binary:Version}), homer-cassandra
Description: Homer, the Cassandra powered XDMS node

Package: homer
Architecture: any
Depends: crest (= ${binary:Version})
Description: Homer, the Cassandra powered XDMS

Package: homestead-prov
Architecture: any
Depends: crest (= ${binary:Version})
Description: Provisioning backend for Homestead, the Cassandra powered HSS gateway

Package: homer-cassandra
Architecture: any
Depends: clearwater-cassandra, clearwater-infrastructure
Recommends: crest-prov
Description: Commissions a Cassandra node so that it can be used as a backend for the homer package

Package: homestead-prov-cassandra
Architecture: any
Depends: clearwater-cassandra, clearwater-infrastructure, homestead-cassandra
Recommends: crest-prov
Description: Commissions a Cassandra node so that it can be used as a backend for the homestead-prov package

Package: crest-prov
Architecture: any
Description: Provides provisioning scripts for homestead-prov and homer
